src/flows.json
[
    {
        "id": "537436eaf49d1042",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "42614526d117ab62",
        "type": "mqtt in",
        "z": "537436eaf49d1042",
        "name": "",
        "topic": "meteostanice/data",
        "qos": "2",
        "datatype": "json",
        "broker": "d5cfb555e0d2a2d9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 200,
        "wires": [
            [
                "80ae6889f6a8d0ba",
                "285747d9cbfe6307"
            ]
        ]
    },
    {
        "id": "dc16c14ce05e9222",
        "type": "ui_gauge",
        "z": "537436eaf49d1042",
        "name": "Teplota - indikátor",
        "group": "caee160ad529bc24",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Teplota",
        "label": "°C",
        "format": "{{value}}",
        "min": "-30",
        "max": "50",
        "colors": [
            "#1a5fb4",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 380,
        "wires": []
    },
    {
        "id": "b07a0cde80f19ec2",
        "type": "inject",
        "z": "537436eaf49d1042",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temp\":24,\"humidity\":66,\"pressure\":999}",
        "payloadType": "json",
        "x": 310,
        "y": 120,
        "wires": [
            [
                "80ae6889f6a8d0ba"
            ]
        ]
    },
    {
        "id": "80ae6889f6a8d0ba",
        "type": "function",
        "z": "537436eaf49d1042",
        "name": "",
        "func": "var teplota;\nvar vlhkost;\nvar tlak;\nteplota = { payload: Math.round(msg.payload.temp*100)/100 };\nvlhkost = { payload: Math.round(msg.payload.humidity*100)/100 };\ntlak = {payload: msg.payload.pressure};\n\nreturn [ teplota, vlhkost, tlak ];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 240,
        "wires": [
            [
                "dc16c14ce05e9222",
                "06fb2a73efce729a",
                "4b6ea53ea72c3b88"
            ],
            [
                "fe9d14656415ebca",
                "f226861c172a32fb",
                "53147e407d3965fd"
            ],
            [
                "01972e5b33d310df",
                "c10bd53df6f4eede",
                "23a71e8e586fd8cd"
            ]
        ]
    },
    {
        "id": "285747d9cbfe6307",
        "type": "debug",
        "z": "537436eaf49d1042",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "fe9d14656415ebca",
        "type": "ui_gauge",
        "z": "537436eaf49d1042",
        "name": "Vlhkost - indikátor",
        "group": "caee160ad529bc24",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Vlhkost",
        "label": "% RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#a51d2d",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 420,
        "wires": []
    },
    {
        "id": "01972e5b33d310df",
        "type": "ui_gauge",
        "z": "537436eaf49d1042",
        "name": "Tlak - indikátor",
        "group": "caee160ad529bc24",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Tlak",
        "label": "hPa",
        "format": "{{value}}",
        "min": "960",
        "max": "1060",
        "colors": [
            "#1a5fb4",
            "#77767b",
            "#e6e600"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 960,
        "y": 460,
        "wires": []
    },
    {
        "id": "06fb2a73efce729a",
        "type": "ui_chart",
        "z": "537436eaf49d1042",
        "name": "Teplota - průběh",
        "group": "f629eb808ffff5bb",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "průběh teploty v čase",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "48",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "f226861c172a32fb",
        "type": "ui_chart",
        "z": "537436eaf49d1042",
        "name": "Vlhkost - průběh",
        "group": "f629eb808ffff5bb",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "průběh vlhkosti v čase",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "48",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#aec7e8",
            "#ff7f0e",
            "#000000",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "c10bd53df6f4eede",
        "type": "ui_chart",
        "z": "537436eaf49d1042",
        "name": "Tlak - průběh",
        "group": "f629eb808ffff5bb",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "průběh tlaku v čase",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "48",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#9467bd",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#000000",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "4b6ea53ea72c3b88",
        "type": "http request",
        "z": "537436eaf49d1042",
        "name": "Odeslat teplotu na Blynk",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://blynk.cloud/external/api/update?token=API_KEY&v0={{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 970,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "53147e407d3965fd",
        "type": "http request",
        "z": "537436eaf49d1042",
        "name": "Odeslat vlhkost na Blynk",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://blynk.cloud/external/api/update?token=API_KEY&v1={{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 970,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "23a71e8e586fd8cd",
        "type": "http request",
        "z": "537436eaf49d1042",
        "name": "Odeslat tlak na Blynk",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://blynk.cloud/external/api/update?token=API_KEY&v2={{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 960,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "5e4ccb766877bab4",
        "type": "ui_spacer",
        "z": "537436eaf49d1042",
        "name": "spacer",
        "group": "caee160ad529bc24",
        "order": 3,
        "width": "5",
        "height": "2"
    },
    {
        "id": "ca4da31a848467dc",
        "type": "ui_spacer",
        "z": "537436eaf49d1042",
        "name": "spacer",
        "group": "caee160ad529bc24",
        "order": 5,
        "width": "5",
        "height": "2"
    },
    {
        "id": "08a4fb09f732772f",
        "type": "ui_spacer",
        "z": "537436eaf49d1042",
        "name": "spacer",
        "group": "caee160ad529bc24",
        "order": 1,
        "width": "5",
        "height": "1"
    },
    {
        "id": "d5cfb555e0d2a2d9",
        "type": "mqtt-broker",
        "name": "Raspberry MQQT",
        "broker": "raspberrypi1.local",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "180",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "caee160ad529bc24",
        "type": "ui_group",
        "name": "Poslední hodnoty",
        "tab": "ed8ae96ce615d403",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f629eb808ffff5bb",
        "type": "ui_group",
        "name": "Vývoj v čase",
        "tab": "ed8ae96ce615d403",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed8ae96ce615d403",
        "type": "ui_tab",
        "name": "Meteostanice venku",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
